@import './global';
@import './mixins';
@import './responsive';

.game {
    margin: 0 auto;
    // overflow-y: hidden;
    height: 80vh;
    max-width: 700px;
    position: relative;
    @include display-align(flex, center);
    flex-direction: column;
    margin-top: 48px;

    &__header {
        @include display-align-justify(flex, center, space-between);
        width: 700px;
        height: 150px;
        border: 3px solid #606e85;
        border-radius: 15px;
    
        &__title {
            color: #FFFFFF;
            font-size: 2.5rem;
            line-height: 32px;
            font-weight: 700;
            padding: 27.68px 0 29.64px 33.32px;
        } 
        
        &__score {
            @include display-align-justify(flex, center, center);
            flex-direction: column;
            width: 150px;
            height: 114px;
            margin-right: 24px;
            background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
            border-radius: 8px;

            p {
                color: #445CCA;
                font-size: 1.1rem;
                letter-spacing: 2px;
            }
            span {
                color: #3b4363;
                font-size: 4rem;
                font-weight: bold;
            }
        }
    }
    &__content {
        position: relative;
        margin-top: 54px;
        width: 476px;
        animation: scaleGame .4s ease-in-out;

        img {
           transform: translate(25%, 25%);
        }
        button {
            position: absolute;
            cursor: pointer;
            height: 144px;
            width: 152px;
            padding: 55px;
            transition: .5s;
            border-radius: 50%;
            background-color: #FFF;

            &:hover {
                transform: scale(1.05);
            }
            img {
                transform: translate(-50%, -50%);
                pointer-events: none;
            }
        }

        &__paper {
            @include btnGame(#4664F4, #2945c2, $left : 35px);
        }
        &__scissors {
            @include btnGame(#EB9F0E, #C76C1B, $right : 35px);
        }
        &__rock {
            @include btnGame(#DB2E4D, #9D1634, $bottom: -20%, $right : 35%);
        }
    }
    &__rules {

        button {
            cursor: pointer;
            border: 2px solid white;
            background: transparent;
            color: white;
            padding: 12px 36px;
            border-radius: 7px;
            font-weight: bold;
            letter-spacing: 2px;
            position: absolute;
            right: 32px;
            bottom: -50px;
        }
    }
    &__fight {
        transform: translateY(60px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        
        &__player {
            position: relative;
            background-color: #FFF;
            height: 144px;
            width: 152px;
            border-radius: 50%;
            padding: 60px;

            &__result {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 250px;
                transform: scale(0);
                animation: displayIsWin .5s ease-out 1.5s forwards;

                span {
                    display: block;
                    text-align: center;
                    font-size: 3.6rem;
                    color: white;
                }
                &__playAgain {
                    cursor: pointer;
                    padding: 15px;
                    border-radius: 8px;
                    border: none;
                    background-color: white;
                    color: #dc2e4e;
                    font-weight: bold;
                    letter-spacing: 1px;
                    width: 100%;
                    transition: 0.8s;

                    &:hover {
                        background-color: #dc2e4e;
                        color: white;
                    }
                }
            }

            &::before {
                content: "YOU PICKED";
                display: block;
                position: absolute;
                letter-spacing: 2px;
                width: 130px;
                top: -60px;
                left: 20px;
                color: #FFF;
                transform: scale(0);
                animation: displayPicked .3s ease-out .5s forwards;
            }

            &--paper{
                @include btnGame(#4664F4, #2945c2);
            }
            &--scissors {
                @include btnGame(#EB9F0E, #C76C1B);
            }
            &--rock {
                @include btnGame(#DB2E4D, #9D1634);
            }

            img {
                position: absolute;
                top: 50%;
                left : 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__bot  {
            transform: scale(0);
            @extend .game__fight__player;
        

            &::before {
                content: "THE HOUSE PICKED";
                display: block;
                letter-spacing: 2px;
                position: absolute;
                width: 170px;
                top: -60px;
                left: -20px;
                transform: scale(0);
                animation: displayPicked .3s ease-in 1.3s forwards;
            }
  
            &--paper{
                @include btnGame(#4664F4, #2945c2);
            }
            &--scissors {
                @include btnGame(#EB9F0E, #C76C1B);
            }
            &--rock {
                @include btnGame(#DB2E4D, #9D1634);
            }
        }
    }
    &__rules {
        position: absolute;
        bottom: 0;
        right: 0;

        button:hover {
            background-color: white;
            color: #000;
            transition: .3s;
        }
    }
}

@media #{$medium-down} {
    .game {
        margin-top: 48px;
        position: relative;
        &__header {
            width: 311px;
            height: 96px;
    
            &__title {
               font-size: 1.3125rem;
               line-height: 1rem;
               padding: 24px 0 24px 23px;
            }
            &__score {
                width: 80px;
                height: 72px;
                padding-top: 10px;
                margin-right: 12px;
    
                p {
                    font-size:0.625rem;
                    letter-spacing: 1.5625px;
                }
    
                span {
                    font-size: 3.2rem;
                }
            }
        }
        &__content {
            margin-top: 15px;
            width: 312px;
            height: 282px;
    
            button {
                height: 50px;
                width: 50px;
                padding: 40px;

                img {
                    width: 35px;
                }
            }
            &__triangle {
                width: 215px;
                height: 200px;
                transform: translate(50px, 50px) !important;
            }
            &__paper {
                border: 20px solid #4664F4;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #2945c2;
                left: 0px;
            }
            &__scissors {
                border: 20px solid #EB9F0E;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #C76C1B;
                right: 0px;
            }
            &__rock {
                border: 20px solid #DB2E4D;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #9D1634;
                bottom: 20px;
                right: 95px;
            }
        }
        &__fight {
            width: 312px;
            justify-content: space-between; 
            transform: translateY(30px);

            &__player{
                transform: scale(0);
                animation: scale 1s ease-out forwards;
                height: 50px;
                width: 50px;
                padding: 45px;

                &::before {
                    top: 140px;
                    left: -5px;
                }
                &__result {
                    position: absolute;
                    bottom: 120px;
                    right: 30px;
                    transform:  scale(0);
                    animation: displayIsWinMobile .8s ease-out 2.8s forwards;
                  
                }
                &::before {
                    bottom: 0 !important;
                }
            }
            &__bot {
                animation: scale 1s ease-out 1.5s forwards !important;
                &::before {
                    top: 140px;
                    left: -30px;
                    animation: displayPicked .3s ease-in 2.2s forwards !important;
                }
            }
        }  
    }  
}

@media #{$medium-up} {
    .game__fight__player {
  
        // animation: displayResultPlayer 5.9s ease-out forwards ;
        animation: displayResultPlayer 4.9s ease-out forwards ;
    }
    .game__fight__bot {

        // animation: displayResultBot 3s ease-out .9s forwards;
        animation: displayResultBot 2s ease-out .9s forwards;
    }
}


.test{
    transform: scale(1) translateX(-80px);
    @media (max-width : 700px){
        transform: scale(1) translateX(0);
    }
}

.test2{
    transform: scale(1) translateX(80px);
    @media (max-width : 700px){
        transform: scale(1) translateX(0);
    }
    // transition: 0.5;

}

.d-none {
   display: none;
}

.animWinner {
    animation: winAnimation 0.5s infinite .5s alternate !important;
}

// ANIMATION 
@keyframes scaleGame {
   0% {
       transform: scale(0);
   }
   25% {
       transform: scale(.3);
   }
   50% {
       transform: scale(.5);
   }
   75% {
       transform: scale(.7);
   }
   100% {
       transform: scale(1);
   }
}

@keyframes displayResultPlayer {
    0% {
        transform: scale(.2);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(-80px);
    }
  
    100% {
        transform: translateX(-80px);
    }
}

@keyframes displayResultBot {
    0% {
        transform: scale(.2);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: translateX(0);
    }
    55% {
        transform: translateX(80px);
    }
  
    100% {
        transform: translateX(80px);
    }
}

@keyframes displayPicked {
    0% {
        transform: scaleY(0);
    }
    25% {
        transform: scaleY(.3);
    }
    50% {
        transform: scaleY(.6);
    }
    75% {
        transform: scaleY(.8);
    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes scale {
    to {
        transform: scale(1);
    }
}

@keyframes displayIsWin {
    to {
        transform: scale(1);
    }
}

@keyframes displayIsWinMobile {
    0% {
        transform: scale(0.8) translateY(300px) ;
        
    }
    100% {
        transform: scale(1) translateY(300px);
    }
}

@keyframes winAnimation{
    0%{
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 60px rgba(255,255,255, .06),    
        0 0 0 125px rgba(255,255,255, .04),
        0 0 0 200px rgba(255,255,255, .02);
    }
    100%{
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 70px rgba(255,255,255, .08),    
        0 0 0 135px rgba(255,255,255, .06),
        0 0 0 210px rgba(255,255,255, .04);
    }
}
