@import './global';
@import './mixins';
@import './responsive';

.game {
    position: relative;
    @include display-align(flex, center);
    flex-direction: column;
    margin-top: 48px;


    &__header {
        @include display-align-justify(flex, center, space-between);
        width: 700px;
        height: 150px;
        border: 3px solid #606e85;
        border-radius: 15px;
    
        &__title {
            color: #FFFFFF;
            font-size: 2.5rem;
            line-height: 32px;
            font-weight: 700;
            padding: 27.68px 0 29.64px 33.32px;
        } 
        
        &__score {
            @include display-align-justify(flex, center, center);
            flex-direction: column;
            width: 150px;
            height: 114px;
            margin-right: 24px;
            background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
            border-radius: 8px;

            p {
                color: #445CCA;
                font-size: 1.1rem;
                letter-spacing: 2px;
            }
            span {
                color: #3b4363;
                font-size: 4rem;
                font-weight: bold;
            }
        }
    }
    &__content {
        position: relative;
        margin-top: 64px;
        width: 476px;
        animation: scaleGame .4s ease-in-out;

        img {
           transform: translate(25%, 25%);
        }
        button {
            position: absolute;
            cursor: pointer;
            height: 144px;
            width: 152px;
            padding: 60px;
            transition: .5s;
            border-radius: 50%;

            &:hover {
                transform: scale(1.05);
            }
            img {
                transform: translate(-50%, -50%);
                pointer-events: none;
            }
        }

        &__paper {
            @include btnGame(#4664F4, #2945c2, $left : 35px);
        }
        &__scissors {
            @include btnGame(#EB9F0E, #C76C1B, $right : 35px);
        }
        &__rock {
            @include btnGame(#DB2E4D, #9D1634, $bottom: -20%, $right : 33%);
        }
    }
    &__rules {

        button {
            cursor: pointer;
            border: 2px solid white;
            background: transparent;
            color: white;
            padding: 12px 36px;
            border-radius: 7px;
            font-weight: bold;
            letter-spacing: 2px;
            position: absolute;
            right: 32px;
            bottom: -50px;
        }
    }
    &__fight {
        position: absolute;
        top: 200px;
        transform: translateX(-15%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        
        &__player {
            position: relative;
            background-color: #FFF;
            height: 144px;
            width: 152px;
            border-radius: 50%;
            padding: 60px;
            animation: displayResultPlayer 5.9s ease-out forwards ;

            &::before {
                content: "YOU PICKED";
                display: block;
                position: absolute;
                width: 130px;
                top: -60px;
                left: 20px;
                color: #FFF;
                transform: scale(0);
                animation: displayPicked .3s ease-out .5s forwards;
            }

            &--paper{
                @include btnGame(#4664F4, #2945c2);
            }
            &--scissors {
                @include btnGame(#EB9F0E, #C76C1B);
            }
            &--rock {
                @include btnGame(#DB2E4D, #9D1634);
            }

            img {
                position: absolute;
                top: 50%;
                left : 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__bot  {
            transform: scale(0);
            animation: displayResultBot 3s ease-out .9s forwards;
            @extend .game__fight__player;

            &::before {
                content: "THE HOUSE PICKED";
                display: block;
                letter-spacing: 2px;
                position: absolute;
                width: 170px;
                top: -60px;
                left: -20px;
                transform: scale(0);
                animation: displayPicked .3s ease-in 1.5s forwards;
            }
  
            &--paper{
                @include btnGame(#4664F4, #2945c2, $right: -15%);
            }
            &--scissors {
                @include btnGame(#EB9F0E, #C76C1B, $right: -15%);
            }
            &--rock {
                @include btnGame(#DB2E4D, #9D1634, $right: -15%);
            }
        }
    }
}

@media #{$medium-down} {
    .game {
        margin-top: 48px;
        &__header {
            width: 311px;
            height: 96px;
    
            &__title {
               font-size: 1.3125rem;
               line-height: 1rem;
               padding: 24px 0 24px 23px;
            }
            &__score {
                width: 80px;
                height: 72px;
                padding-top: 10px;
                margin-right: 12px;
    
                p {
                    font-size:0.625rem;
                    letter-spacing: 1.5625px;
                }
    
                span {
                    font-size: 3.2rem;
                }
            }
        }
        &__content {
            margin-top: 105px !important;
            width: 312px;
            height: 282px;

            img {
                transform: translate(0, 50px);
            }
            button {
                height: 95px;
                width: 100px;
                padding: 55px;
            }
            &__paper {
                border: 20px solid #4664F4;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #2945c2;
                left: -25px;
            }
            &__scissors {
                border: 20px solid #EB9F0E;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #C76C1B;
                right: -25px;
            }
            &__rock {
                border: 20px solid #DB2E4D;
                box-shadow: inset 0 5px 0 rgb(187 191 216 / 50%), 0 5px 0 #9D1634;
                bottom: -40px;
                right: 27%;
            }
        }
    }
    
}


// ANIMATION 
@keyframes scaleGame {
   0% {
       transform: scale(0);
   }
   25% {
       transform: scale(.3);
   }
   50% {
       transform: scale(.5);
   }
   75% {
       transform: scale(.7);
   }
   100% {
       transform: scale(1);
   }
}

@keyframes displayResultPlayer {
    0% {
        transform: scale(.2);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(-130px);
    }
  
    100% {
        transform: translateX(-130px);
    }
}

@keyframes displayResultBot {
    0% {
        transform: scale(.2);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: translateX(0);
    }
    55% {
        transform: translateX(130px);
    }
  
    100% {
        transform: translateX(130px);
    }
}

@keyframes displayPicked {
    0% {
        transform: scaleY(0);
    }
    25% {
        transform: scaleY(.3);
    }
    50% {
        transform: scaleY(.6);
    }
    75% {
        transform: scaleY(.8);
    }
    100% {
        transform: scaleY(1);
    }
}
