@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
}

body {
  background: radial-gradient(circle, #1d3050 25%, #15193c 100%);
}

.game {
  margin: 0 auto;
  height: 80vh;
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}
.game__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 150px;
  border: 3px solid #606e85;
  border-radius: 15px;
}
.game__header__title {
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 32px;
  font-weight: 700;
  padding: 27.68px 0 29.64px 33.32px;
}
.game__header__score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 114px;
  margin-right: 24px;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
}
.game__header__score p {
  color: #445CCA;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.game__header__score span {
  color: #3b4363;
  font-size: 4rem;
  font-weight: bold;
}
.game__content {
  position: relative;
  margin-top: 54px;
  width: 476px;
  animation: scaleGame 0.4s ease-in-out;
}
.game__content img {
  transform: translate(25%, 25%);
}
.game__content button {
  position: absolute;
  cursor: pointer;
  height: 144px;
  width: 152px;
  padding: 55px;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #FFF;
}
.game__content button:hover {
  transform: scale(1.05);
}
.game__content button img {
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.game__content__paper {
  border: 22px solid #4664F4;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #2945c2;
  left: 35px;
  right: "";
  bottom: "";
  top: "";
}
.game__content__scissors {
  border: 22px solid #EB9F0E;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #C76C1B;
  left: "";
  right: 35px;
  bottom: "";
  top: "";
}
.game__content__rock {
  border: 22px solid #DB2E4D;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #9D1634;
  left: "";
  right: 35%;
  bottom: -20%;
  top: "";
}
.game__rules button {
  cursor: pointer;
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 12px 36px;
  border-radius: 7px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  right: 32px;
  bottom: -50px;
}
.game__fight {
  transform: translateY(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}
.game__fight__player, .game__fight__bot {
  position: relative;
  background-color: #FFF;
  height: 144px;
  width: 152px;
  border-radius: 50%;
  padding: 60px;
}
.game__fight__player__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  transform: scale(0);
  animation: displayIsWin 0.5s ease-out 1.5s forwards;
}
.game__fight__player__result span {
  display: block;
  text-align: center;
  font-size: 3.6rem;
  color: white;
}
.game__fight__player__result__playAgain {
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: #dc2e4e;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  transition: 0.8s;
}
.game__fight__player__result__playAgain:hover {
  background-color: #dc2e4e;
  color: white;
}
.game__fight__player::before, .game__fight__bot::before {
  content: "YOU PICKED";
  display: block;
  position: absolute;
  letter-spacing: 2px;
  width: 130px;
  top: -60px;
  left: 20px;
  color: #FFF;
  transform: scale(0);
  animation: displayPicked 0.3s ease-out 0.5s forwards;
}
.game__fight__player--paper {
  border: 22px solid #4664F4;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #2945c2;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__fight__player--scissors {
  border: 22px solid #EB9F0E;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #C76C1B;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__fight__player--rock {
  border: 22px solid #DB2E4D;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #9D1634;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__fight__player img, .game__fight__bot img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game__fight__bot {
  transform: scale(0);
}
.game__fight__bot::before {
  content: "THE HOUSE PICKED";
  display: block;
  letter-spacing: 2px;
  position: absolute;
  width: 170px;
  top: -60px;
  left: -20px;
  transform: scale(0);
  animation: displayPicked 0.3s ease-in 1.3s forwards;
}
.game__fight__bot--paper {
  border: 22px solid #4664F4;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #2945c2;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__fight__bot--scissors {
  border: 22px solid #EB9F0E;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #C76C1B;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__fight__bot--rock {
  border: 22px solid #DB2E4D;
  box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 10px 0 #9D1634;
  left: "";
  right: "";
  bottom: "";
  top: "";
}
.game__rules {
  position: absolute;
  bottom: 0;
  right: 0;
}
.game__rules button:hover {
  background-color: white;
  color: #000;
  transition: 0.3s;
}

@media only screen and (max-width: 700px) {
  .game {
    margin-top: 48px;
    position: relative;
  }
  .game__header {
    width: 311px;
    height: 96px;
  }
  .game__header__title {
    font-size: 1.3125rem;
    line-height: 1rem;
    padding: 24px 0 24px 23px;
  }
  .game__header__score {
    width: 80px;
    height: 72px;
    padding-top: 10px;
    margin-right: 12px;
  }
  .game__header__score p {
    font-size: 0.625rem;
    letter-spacing: 1.5625px;
  }
  .game__header__score span {
    font-size: 3.2rem;
  }
  .game__content {
    margin-top: 15px;
    width: 312px;
    height: 282px;
  }
  .game__content button {
    height: 50px;
    width: 50px;
    padding: 40px;
  }
  .game__content button img {
    width: 35px;
  }
  .game__content__triangle {
    width: 215px;
    height: 200px;
    transform: translate(50px, 50px) !important;
  }
  .game__content__paper {
    border: 20px solid #4664F4;
    box-shadow: inset 0 5px 0 rgba(187, 191, 216, 0.5), 0 5px 0 #2945c2;
    left: 0px;
  }
  .game__content__scissors {
    border: 20px solid #EB9F0E;
    box-shadow: inset 0 5px 0 rgba(187, 191, 216, 0.5), 0 5px 0 #C76C1B;
    right: 0px;
  }
  .game__content__rock {
    border: 20px solid #DB2E4D;
    box-shadow: inset 0 5px 0 rgba(187, 191, 216, 0.5), 0 5px 0 #9D1634;
    bottom: 20px;
    right: 95px;
  }
  .game__fight {
    width: 312px;
    justify-content: space-between;
    transform: translateY(30px);
  }
  .game__fight__player, .game__fight__bot {
    transform: scale(0);
    animation: scale 1s ease-out forwards;
    height: 50px;
    width: 50px;
    padding: 45px;
  }
  .game__fight__player::before, .game__fight__bot::before {
    top: 140px;
    left: -5px;
  }
  .game__fight__player__result {
    position: absolute;
    bottom: 120px;
    right: 30px;
    transform: scale(0);
    animation: displayIsWinMobile 0.8s ease-out 2.8s forwards;
  }
  .game__fight__player::before, .game__fight__bot::before {
    bottom: 0 !important;
  }
  .game__fight__bot {
    animation: scale 1s ease-out 1.5s forwards !important;
  }
  .game__fight__bot::before {
    top: 140px;
    left: -30px;
    animation: displayPicked 0.3s ease-in 2.2s forwards !important;
  }
}
@media only screen and (min-width: 700px) {
  .game__fight__player, .game__fight__bot {
    animation: displayResultPlayer 4.9s ease-out forwards;
  }

  .game__fight__bot {
    animation: displayResultBot 2s ease-out 0.9s forwards;
  }
}
.test {
  transform: scale(1) translateX(-80px);
}
@media (max-width: 700px) {
  .test {
    transform: scale(1) translateX(0);
  }
}

.test2 {
  transform: scale(1) translateX(80px);
}
@media (max-width: 700px) {
  .test2 {
    transform: scale(1) translateX(0);
  }
}

.d-none {
  display: none;
}

.animWinner {
  animation: winAnimation 0.5s infinite 0.5s alternate !important;
}

@keyframes scaleGame {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes displayResultPlayer {
  0% {
    transform: scale(0.2);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-80px);
  }
}
@keyframes displayResultBot {
  0% {
    transform: scale(0.2);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(80px);
  }
}
@keyframes displayPicked {
  0% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes scale {
  to {
    transform: scale(1);
  }
}
@keyframes displayIsWin {
  to {
    transform: scale(1);
  }
}
@keyframes displayIsWinMobile {
  0% {
    transform: scale(0.8) translateY(300px);
  }
  100% {
    transform: scale(1) translateY(300px);
  }
}
@keyframes winAnimation {
  0% {
    box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 0 0 60px rgba(255, 255, 255, 0.06), 0 0 0 125px rgba(255, 255, 255, 0.04), 0 0 0 200px rgba(255, 255, 255, 0.02);
  }
  100% {
    box-shadow: inset 0 10px 0 rgba(187, 191, 216, 0.5), 0 0 0 70px rgba(255, 255, 255, 0.08), 0 0 0 135px rgba(255, 255, 255, 0.06), 0 0 0 210px rgba(255, 255, 255, 0.04);
  }
}

/*# sourceMappingURL=style.css.map */
